<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="toolbar-title1"> Términos</ion-title>
    <ion-title class="toolbar-title2"> y </ion-title>
    <ion-title class="toolbar-title3"> condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <h2>Aviso legal</h2><br>
      <p>Esta aplicación, cuyo titular es Diego Méndez Esquerro, con NIF 78718488E, domicilio en la calle Masca, 12 (San
        Cristóbal de la Laguna, 38320), y teléfono 644 045 004 / correo diegodam999@gmail.com, está constituido por la
        propia aplicación y se sirve de servicios externos para obtener las estadísticas:
        https://rapidapi.com/vaccovidlive-vaccovidlive-default/api/vaccovid-coronavirus-vaccine-and-treatment-tracker.
        https://vaccovid.live/covid-19-tracker/Spain/ESP.
        Proyecto COVID-19. API (narrativa.com).</p><br>
      <h2>Propiedad intelectual e industrial</h2><br>
      <p>El diseño de la aplicación y sus códigos fuente, así como los logos, marcas y demás signos distintivos que
        aparecen en el mismo pertenecen al titular de la aplicación y están protegidos por los correspondientes derechos
        de propiedad intelectual e industrial.</p><br>
      <h2>Responsabilidad de los contenidos</h2><br>
      <p>Yo Diego Méndez Esquerro como titular de la aplicación COVID SP soy responsable del contenido de la aplicación,
      pero no de los enlaces/links que puedan redireccionar desde mi aplicación, ya que se encuentran fuera del control
      de COVID SP y por tanto no respondemos ni por su idoneidad ni por su disponibilidad ni de los daños o perjuicios
      que pudieran ser derivados por el uso de los mismos. En todo caso, intentaremos evitar en la medida de lo posible
      la existencia de problemas derivados de determinados enlaces, pero no podemos garantizarlo, ya que no tenemos el
      control de esas direcciones web y no somos responsables de los mismos. Por otro lado, sí respondemos por los
      enlaces derivados de nuestra página web COVID SP y que estén bajo nuestro control
      El titular se reserva el derecho a realizar cambios en el sitio web sin previo aviso, al objeto de mantener
      actualizada su información, añadiendo, modificando, corrigiendo o eliminando los contenidos publicados o el diseño
      del portal.
      El titular no será responsable del uso que terceros hagan de la información publicada en el portal, ni tampoco de
      los daños sufridos o pérdidas económicas que, de forma directa o indirecta, produzcan o puedan producir perjuicios
      económicos, materiales o sobre datos, provocados por el uso de dicha información.</p><br>
      <h2>Reproducción de contenidos</h2><br>
      <p>Se prohíbe la reproducción total o parcial de los contenidos publicados en el portal. No obstante, los contenidos
      que sean considerados como datos abiertos en la Sede Electrónica, publicados según lo previsto en el Real Decreto
      1495/2011, de 24 de octubre, de desarrollo de la Ley 37/2007, sobre reutilización de la información del sector
      público, para el ámbito del sector público estatal.</p><br>
      <h2>Política de Privacidad</h2><br>
      <p>Diego Méndez Esquerro te informa sobre su Política de Privacidad respecto del tratamiento y protección de los
      datos de carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación de
      servicios a través de la aplicación COVID SP.
      En este sentido, el Titular garantiza el cumplimiento de la normativa vigente en materia de protección de datos
      personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de
      Garantía de Derechos Digitales (LOPD GDD). Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y
      del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).
      El uso de la aplicación implica la aceptación de esta Política de Privacidad, así como las condiciones incluidas
      en el Aviso Legal.
      Principios aplicados en el tratamiento de datos
      En el tratamiento de tus datos personales, el Titular aplicará los siguientes principios que se ajustan a las
      exigencias del nuevo reglamento europeo de protección de datos:
      Principio de licitud, lealtad y transparencia: El Titular siempre requerirá el consentimiento para el tratamiento
      de tus datos personales que puede ser para uno o varios fines específicos sobre los que te informará previamente
      con absoluta transparencia.
      Principio de minimización de datos: El Titular te solicitará solo los datos estrictamente necesarios para el fin o
      los fines que los solicita.
      Principio de limitación del plazo de conservación: Los datos se mantendrán durante el tiempo estrictamente
      necesario para el fin o los fines del tratamiento.
      El Titular te informará del plazo de conservación correspondiente según la finalidad. En el caso de suscripciones,
      el Titular revisará periódicamente las listas y eliminará aquellos registros inactivos durante un tiempo
      considerable.
      Principio de integridad y confidencialidad: Tus datos serán tratados de tal manera que su seguridad,
      confidencialidad e integridad esté garantizada. Debes saber que el Titular toma las precauciones necesarias para
      evitar el acceso no autorizado o uso indebido de los datos de sus usuarios por parte de terceros.
      Obtención de datos personales
      Para navegar por COVID SP no es necesario que facilites ningún dato personal. Los casos en los que sí proporcionas
      tus datos personales son los siguientes:
      Al contactar a través de los formularios de contacto o enviar un correo electrónico.
      Al realizar un comentario en un artículo o página.
      Tus derechos:
      El Titular te informa que sobre tus datos personales tienes derecho a:
      Solicitar el acceso a los datos almacenados.
      Solicitar una rectificación o la cancelación.
      Solicitar la limitación de su tratamiento.
      Oponerte al tratamiento.
      Solicitar la portabilidad de tus datos.
      El ejercicio de estos derechos es personal y por tanto debe ser ejercido directamente por el interesado,
      solicitándolo directamente al Titular, lo que significa que cualquier cliente, suscriptor o colaborador que haya
      facilitado sus datos en algún momento puede dirigirse al Titular y pedir información sobre los datos que tiene
      almacenados y cómo los ha obtenido, solicitar la rectificación de los mismos, solicitar la portabilidad de sus
      datos personales, oponerse al tratamiento, limitar su uso o solicitar la cancelación de esos datos en los ficheros
      del Titular.
      Para ejercitar tus derechos de acceso, rectificación, cancelación, portabilidad y oposición tienes que enviar un
      correo electrónico a info@covidsp.com junto con la prueba válida en derecho como una fotocopia del D.N.I. o
      equivalente.
      Tienes derecho a la tutela judicial efectiva y a presentar una reclamación ante la autoridad de control, en este
      caso, la Agencia Española de Protección de Datos, si consideras que el tratamiento de datos personales que te
      conciernen infringe el Reglamento.
      Finalidad del tratamiento de datos personales
      Cuando te conectas a la aplicación para mandar un correo al titular, estás facilitando información de carácter
      personal de la que el responsable es el Titular. Esta información puede incluir datos de carácter personal como
      pueden ser tu dirección IP, nombre y apellidos, dirección física, dirección de correo electrónico, número de
      teléfono, y otra información. Al facilitar esta información, das tu consentimiento para que tu información sea
      recopilada, utilizada, gestionada y almacenada por COVID SP, sólo como se describe en el Aviso Legal y en la
      presente Política de Privacidad.
      Los datos personales y la finalidad del tratamiento por parte del Titular son diferente según el sistema de
      captura de información:
      Formularios de contacto: El Titular solicita datos personales entre los que pueden estar: Nombre y apellidos,
      dirección de correo electrónico, número de teléfono y dirección de tu sitio Web con la finalidad de responder a
      tus consultas.
      Por ejemplo, el Titular utiliza esos datos para dar respuesta a tus mensajes, dudas, quejas, comentarios o
      inquietudes que puedas tener relativas a la información incluida en el sitio Web, los servicios que se prestan a
      través del sitio Web, el tratamiento de tus datos personales, cuestiones referentes a los textos legales incluidos
      en el sitio Web, así como cualquier otra consulta que puedas tener y que no esté sujeta a las condiciones del
      sitio Web o de la contratación.
      Formularios de suscripción a contenidos: El Titular solicita los siguientes datos personales: Nombre y apellidos,
      dirección de correo electrónico, número de teléfono y dirección de tu sitio web para gestionar la lista de
      suscripciones, enviar boletines, promociones y ofertas especiales.

      Existen otras finalidades por las que el Titular trata tus datos personales:
      Para garantizar el cumplimiento de las condiciones recogidas en el Aviso Legal y en la ley aplicable. Esto puede
      incluir el desarrollo de herramientas y algoritmos que ayuden a este sitio Web a garantizar la confidencialidad de
      los datos personales que recoge.
      Para apoyar y mejorar los servicios que ofrece este sitio Web.
      Para analizar la navegación. El Titular recoge otros datos no identificativos que se obtienen mediante el uso de
      cookies que se descargan en tu ordenador cuando navegas por el sitio Web cuyas características y finalidad están
      detalladas en la Política de Cookies.
      Seguridad de los datos personales:
      Para proteger tus datos personales, el Titular toma todas las precauciones razonables y sigue las mejores
      prácticas de la industria para evitar su pérdida, mal uso, acceso indebido, divulgación, alteración o destrucción
      de los mismos.
      Portal de transparencia:
      A través de la información publicada en el portal de transparencia, el titular atiende de forma periódica y
      actualizada el principio de publicidad activa establecido por la Ley 19/2013, de 9 de diciembre, de transparencia,
      acceso a la información pública y buen gobierno, con los mecanismos adecuados para facilitar la accesibilidad, la
      interoperabilidad, la calidad y la reutilización de la información, así como su identificación y localización.
      Ley aplicable:
      La ley aplicable en caso de disputa o conflicto de interpretación de los términos que conforman este aviso legal,
      así como cualquier cuestión relacionada con los servicios del presente portal, será la ley española.</p><br>
    </ion-card-content>
  </ion-card>

</ion-content>
