ion-menu-button {
  color: var(--ion-color-primary);
}

p{
	padding-left: 16px;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

img{
  padding-top: 120px;
}

.label-covid{
  margin: auto;
  background-color: #2196F3;
  font-size: 25px;
  border-radius: 25%;
}

$avatar-size: 32px;
$body-background: #353535;

@font-face {
	font-family: "ubuntu";
	font-style: italic;
	font-weight: 300;
	src: local("Lato Light Italic"), local("Lato-LightItalic"),
		url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2)
			format("woff2");
}

body {
	height: 100vh;
	margin: 0;
	background-color: $body-background;
	font-family: "ubuntu", Arial, sans-serif;
	overflow-x: hidden;
	display: grid;
	place-items: center;
}

a {
	text-decoration: none;
	color: #9ca0b1;
}

.wrapper {
	text-align: center;
	h1 {
		color: #fff;
		font-size: 28px;
		font-family: "ubuntu";
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #d757ac 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	}
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}